import(shiny)
importFrom(grDevices, hcl)
importFrom(graphics, box, mtext)
importFrom(stats, kmeans, median, na.omit, reorder,
    setNames)
importFrom(utils, data, download.file, head, read.delim)
importFrom(dplyr, select, mutate, arrange, filter, ungroup, pull, 
        rename, group_by, summarize, summarise, across, sample_n, slice)
importFrom(magrittr, "%>%")
import(ggplot2)
importFrom(tibble, rownames_to_column)
importFrom(stringr, str_detect, str_match, str_split, str_split_i, str_extract, 
        str_to_title)
importFrom(reshape2, melt)
importFrom(DT, datatable)
importFrom(plotly, ggplotly, plotlyOutput, renderPlotly)
importFrom(grid, gpar)
importFrom(factoextra, fviz_cluster, fviz_nbclust)
importFrom(parallel, mclapply, detectCores)
importFrom(txdbmaker, makeTxDbFromGFF)
importFrom(httr, GET, status_code)
importFrom(tidyr, separate, pivot_longer, starts_with)
importFrom(scales, rescale)
importFrom(jsonlite, fromJSON)
importFrom(circlize, colorRamp2)
importFrom(waiter, use_waiter)
importFrom(shinycssloaders, withSpinner)
importFrom(shinyjs, useShinyjs, runjs, enable, disable)
importFrom(shinycustomloader, withLoader)
import(shinyBS)
import(markdown)
import(GenomicRanges)
import(rhdf5)
importFrom(R.utils, gunzip)
import(ComplexHeatmap)
importFrom(ggbio, autoplot)
importFrom(biomaRt, getBM, useEnsembl)
import(org.Hs.eg.db)
importFrom(S4Vectors, metadata, DataFrame, subjectHits, queryHits)
import(SingleCellExperiment)
import(SummarizedExperiment)
export(annotateAmplicons,
        annotateVariants,
        clusterVariantSelection,
        filterVariants,
        h5ToSce,
        logLogPlot,
        normalizeReadCounts,
        plotAmpliconDistribution,
        plotClusterGenotype,
        plotClusterVAFMap,
        plotClusterVAF,
        plotElbow,
        plotGenotypequalityPerGenotype,
        plotNormalizedReadCounts,
        plotPanelUniformity,
        plotVariantHeatmap,
        launchScafariShiny)