# Import all functions from shiny
import(shiny)

# Import specific functions
importFrom(dplyr)
import(ggplot2)
importFrom(tibble, rownames_to_column)
importFrom(stringr, str_detect)
importFrom(reshape2, melt)
import(factoextra)
import(clusterProfiler)

# Import everything from a package (use sparingly)
import(stringi)
import(DT)
import(waiter)
import(shinycssloaders)
import(shinyjs)
import(shinyBS)
import(shinycustomloader)
import(markdown)
import(SingleCellExperiment)
import(SummarizedExperiment)
import(plotly)
import(GenomicRanges)
import(rhdf5)
import(ComplexHeatmap)
import(karyoploteR)
import(biomaRt)
import(org.Hs.eg.db)
import(S4Vectors)
export(annotateAmplicons,
        annotateVariants,
        clusterVariantSelection,
        filterVariants,
        h5ToSce,
        logLogPlot,
        normalizeReadCounts,
        plotAmpliconDistribution,
        plotClusterGenotype,
        plotClusterVAFMap,
        plotClusterVAF,
        plotElbow,
        plotGenotypequalityPerGenotype,
        plotGenotypeDistributionPie,
        plotNormalizedReadCounts,
        plotPanelUniformity,
        plotVariantHeatmap)